<%= error_messages_for 'section' %>

<!--[form:section]-->
<p><label for="section_name">Name</label><br/>
<%= text_field 'section', 'name'  %></p>

<p><label for="section_description">Description</label><br/>
<%= text_area 'section', 'description'  %></p>
<!--[eoform:section]-->

