<%= error_messages_for 'course' %>

<!--[form:course]-->
<p><label for="course_name">Name</label><br/>
<%= text_field 'course', 'name'  %></p>

<p><label for="course_description">Description</label><br/>
<%= text_area 'course', 'description', :rows=>10  %></p>
<!--[eoform:course]-->

